.TodoFilter {
  background: #1d1825;
  border-radius: 15px;
  border: 2px solid #3e1671;
  margin: 0 24px;
  height: 64px;
  width: 100%;
  font-size: 1.5rem;
  text-align: center;
  font-family: "Montserrat";
  font-weight: 400;
  color: #1e1e1f;
  box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
}

.TodoFilter::placeholder {
  color: #a5a5a5;
  font-family: "Montserrat";
  font-weight: 400;
}

.TodoFilter:focus {
  background: #d9d9d9;
}
