.modalBackground {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  z-index: 1000;
}

.modal-content {
  background: #1d1825;
  color: #000;
  padding: 1.25rem;
  border: 2px solid #9e78cf;
  border-radius: 8px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  height: 50%;
  width: 50%;
  overflow: auto;
}
