form {
  width: 90%;
  height: 90%;
  display: flex;
  padding: 0 30px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
label {
  text-align: center;
  font-weight: bold;
  font-size: 2.5rem;
  color: #9e78cf;
  margin-bottom: 20px;
}
textarea {
  background-color: #15101c;
  border-radius: 10px;
  font-size: 2rem;
  text-align: center;
  color: #9e78cf;
  padding: 15px;
  height: 50%;
  width: 80%;
  margin-top: 40px;
  resize: none;
}

.TodoForm-buttonContainer {
  margin-top: 50px;
  justify-content: space-between;
}

.TodoForm-button {
  cursor: pointer;
  display: inline-block;
  font-size: 1.5rem;
  font-weight: 400;
  width: 120px;
  height: 48px;
  border-radius: 10px;
  font-family: Inter, sans-serif;
  background-color: #15101c;
  border: 2px solid #9e78cf;
  color: #9e78cf;
  margin: 0 40px;
}

.TodoForm-button--add {
  color: #4caf50;
  border: 2px solid #4caf50;
}
.TodoForm-button--add:hover {
  background-color: #4caf50;
  color: #15101c;
}

.TodoForm-button--cancel:hover {
  border: 2px solid red;
  color: red;
}
