#root {
  background-color: #1d1825;
  border-radius: 30px;
  border-color: black;
  border: 1px solid black;
  width: 80vw;
  height: 80vh;
  margin: 0 15%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.h1 {
  display: flex;
  justify-content: center;
  color: #9e78cf;
  font-size: 5rem;
  margin-top: 0;
  margin-bottom: 5%;
  font-family: Inter, sans-serif;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-top: 200px;
}
