#root {
  background-color: #1d1825;
  border-radius: 30px;
  border-color: black;
  border: 1px solid black;
  width: 80vw;
  height: 80vh;
  margin: 0 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.h1 {
  display: flex;
  justify-content: center;
  color: #9e78cf;
  font-size: 5rem;
  margin-top: -45%;
  margin-bottom: 5%;
  font-family: Inter, sans-serif;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

@media (max-width: 1024px) {
  #root {
    width: 95vw;
    height: 80vh;
    margin: 0 2.5%;
  }
  .h1 {
    font-size: 4rem;
    margin-top: -50%;
    margin-bottom: 5%;
  }
}
@media (max-width: 320px) {
  #root {
    width: 100vw;
    height: 85vh;
    margin: 10px;
  }
}
