.button {
  width: 60px;
  height: 66px;
  background-color: #9e78cf;
  font-size: 2.5rem;
  border-radius: 10px;
  color: white;
  border: none;
  margin-left: 10px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .button {
    width: 50px;
    height: 56px;
    font-size: 2rem;
  }
}
