.input {
  width: 700px;
  height: 60px;
  border-radius: 10px;
  border: solid 1px #9e78cf;
  background-color: #d9d9d9;
  padding: 0px 20px;
  font-size: 2rem;
}

@media (max-width: 768px) {
  .input {
    width: 75vw;
    height: 50px;
    font-size: 1.5rem;
    margin-left: 30px;
  }
}
@media (max-width: 320px) {
  .input {
    width: 65vw;
    height: 40px;
    font-size: 1.2rem;
    margin-left: 30px;
  }
}
@media (max-width: 425px) {
  .input {
    width: 65vw;
    height: 50px;
    font-size: 1.5rem;
    margin-left: 30px;
  }
}
