.li {
  display: flex;
  width: 800px;
  height: 50%;
  padding: 10px;
  list-style: none;
  margin-left: -50px;
  margin-top: 10px;
}
.text {
  height: 75px;
  width: 100%;
  margin: 0 20px;
  background-color: #15101c;
  border-radius: 20px;
  color: #9e78cf;
  font-size: 1.5rem;
  font-family: inter, sans-serif;
  text-align: start;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.text-completed {
  text-decoration: line-through;
  color: #78cfb0;
}
.span {
  cursor: pointer;
  position: relative;
  right: 100px;
  top: 15px;
  align-items: center;
  font-size: 1.5rem;
  margin-left: 10px;
  text-decoration: none;
}
.span-activate {
  color: #78cfb0;
  text-decoration: none;
}
.span-delete {
  color: #cf7878;
  text-decoration: none;
}

@media (max-width: 768px) {
  .li {
    width: 85vw;
    margin-bottom: -40px;
    padding: 50px;
    margin-left: -70px;
  }
  .p {
    font-size: 1rem;
    height: 100px;
  }
}
