.ul {
  display: grid;
  width: 100%;
  height: 700px;
  justify-content: center;
  padding: 10px;
  margin-bottom: -40%;
}

@media (max-width: 768px) {
  .ul {
    width: 90vw;
    margin-bottom: -300px;
    margin-left: 20px;
    margin-right: 20px;
  }
}
